{% extends "base.html" %} {% block content %}
<h2 class="repo-title">
    <a href="/{{ user }}">{{ user }}</a> /
    <strong><a href="/{{ user }}/{{ repo }}">{{ repo }}</a></strong>
</h2>

<div class="repo-tabs">
    <a href="/{{ user }}/{{ repo }}"><> Код</a>
    <a href="/{{ user }}/{{ repo }}/commits">🕒 Комміти</a>
    <a href="/{{ user }}/{{ repo }}/tree/">📁 Файли (Дерево)</a>
</div>

<div>
    <div class="blob-header">📄 {{ path }}</div>
    <pre class="blob-view"><code>{{ content }}</code></pre>
</div>
{% endblock %}
