{% extends "base.html" %} {% block content %}
<div class="window">
    <div class="title-bar">
        <div class="title-bar-text">
            <i class="ri-git-repository-line"></i> Репозиторій: {{ user }} / {{
            repo }}
        </div>
    </div>
    <div class="window-body">
        <menu role="tablist" style="margin-bottom: 1rem">
            <li role="tab">
                <a href="/{{ user }}/{{ repo }}"
                    ><i class="ri-code-s-slash-line"></i> Код</a
                >
            </li>
            <li role="tab">
                <a href="/{{ user }}/{{ repo }}/commits"
                    ><i class="ri-git-commit-line"></i> Комміти</a
                >
            </li>
            <li role="tab" class="active">
                <a href="/{{ user }}/{{ repo }}/tree"
                    ><i class="ri-folder-open-line"></i> Файли</a
                >
            </li>
        </menu>

        <div class="window" role="tabpanel">
            <div class="title-bar inactive">
                <div class="title-bar-text">Блокнот - {{ path }}</div>
            </div>
            <div
                class="window-body"
                style="
                    background: #ffffff;
                    padding: 0;
                    min-height: 200px;
                    border: 1px solid #999;
                "
            >
                <pre
                    style="
                        margin: 0;
                        padding: 1.5rem;
                        border: none;
                        background: transparent;
                        font-family: "Courier New";, Courier, monospace;
                        font-size: 15px;
                    "
                ><code style="color: #000000">{{ content }}</code></pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}
