{% extends "base.html" %} {% block content %}
<h2 class="repo-title">
    <a href="/{{ user }}">{{ user }}</a> /
    <strong><a href="/{{ user }}/{{ repo }}">{{ repo }}</a></strong>
</h2>

<div class="repo-tabs">
    <a href="/{{ user }}/{{ repo }}"><> Код</a>
    <a href="/{{ user }}/{{ repo }}/commits" class="active">🕒 Комміти</a>
    <a href="/{{ user }}/{{ repo }}/tree/">📁 Файли (Дерево)</a>
</div>

<div class="file-tree">
    <table>
        <thead>
            <tr>
                <th>Історія змін</th>
            </tr>
        </thead>
        <tbody>
            {% for commit in commits %}
            <tr>
                <td><code>{{ commit }}</code></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
